*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
    background:#fbfbfb;
    font-family:sans-serif;
}
header{
    height:34px;
    width:100%;
    line-height:34px;
    background:#222;
    z-index:2;
    border-bottom:3px solid #ff7e00;
}
header h1{
    padding-left:15px;
    color:#eee;
    font-size:16px;
    font-weight:lighter;
}
header ul li{
    float:right;
    margin-top:-33px;
    font-size:12px;
    padding-right:20px;
    display:inline;
}
header ul li a{
    color:#eee;
    text-decoration:none;
}
header ul li a:hover{
    color:#f1b880;
}
.message{
    margin:5px 0;
    font-size:12px;
    padding:5px 10px;
}
.confirmation{
    background:#ddffb7;
    border:1px solid #3f7700;
    color:#3f7700;
}
.erreur{
    background:#ffe6e6;
    border:1px solid #d20000;
    color:#d20000;
}
label{
    display:block;
    width:190px;
    float:left;
    margin:3px 0;
}
#gauche{
    width:25%;
    background:#eee;
    border-right:1px solid #ccc;
    height:100%;
    overflow:auto;
    word-wrap:break-word;
}
#gauche ul li{
    height:20px;
    line-height:20px;
    padding:5px 15px;
    font-size:13px;
    list-style:none;
    border-bottom:1px solid #dcdcdc;
}
#gauche ul li a{
    color:#333;
    text-decoration:none;
    font-weight:bold;
}
#droite{
    width:75%;
    background:#fbfbfb;
    position:absolute;
    right:0;
    top:0;
    margin-top:37px;
    height:100%;
}
h1{
    font-size:20px;
    
}
table{
    border:1px solid #444;
    font-size:12px;
    border-collapse:collapse;
}
thead{
    background:#444;
    border-bottom:1px solid #ff7e00;
    font-size:12px;
    text-align:center;
    color:#ebebeb;
    height:22px;
    line-height:22px;
}
thead tr > td{
    padding:0 8px;
}
tbody tr:nth-child(even){
    background-color:#ebebeb;
}
tbody tr:nth-child(odd){
    background-color:#e2e2e2;
}
tbody tr > td{
    padding:3px 8px;
}
tbody a{
    text-decoration:none;
}
h2{
    font-size:16px;
    color:#353d44;
    padding:5px 0;
}
#connect{
    width:250px;
    margin:0 auto;
    padding:5px 10px;
    text-align:center;
    margin-top:20px;
    background:#fcfcfc;
    border:1px solid #eaeaea;
    border-radius:13px;
}
input[type="checkbox"]{
    cursor:pointer;
}
input[type="text"],input[type="password"],input[type="url"]{
    background:url('images/text.png') repeat-x;
    height:13px;
    border:1px solid #ccc;
    border-radius:4px;
    padding:3px 4px;
    margin:1px 0;
    width:150px;
}
input[type="submit"]{
    padding:4px 8px;
    font-size:12px;
    background:#444;
    color:white;
    border-radius:4px;
    border:0;
    border-bottom:2px solid #ff7e00;
    cursor:pointer;
    width:164px;
}
article{
    word-wrap:break-word;
    padding:10px;
    text-align:justify;
    font-size:12px;
}
h1 a, h2 a{
    text-decoration:none;
    color:#222;
}
hr{
    margin:7px -10px;
    border:0;
    border-bottom:1px dashed #bbb;
}