*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
    background:#fbfbfb;
    font-family:sans-serif;
}
header{
    height:34px;
    width:100%;
    line-height:34px;
    background:#444;
    z-index:2;
    border-bottom:3px solid #ff7e00;
}
header h1{
    padding-left:15px;
    color:#eee;
    font-size:16px;
    font-weight:lighter;
}
header ul li{
    float:right;
    margin-top:-33px;
    font-size:12px;
    padding-right:20px;
    display:inline;
}
header ul li a{
    color:#eee;
    text-decoration:none;
}
header ul li a:hover{
    color:#f1b880;
}
#gauche{
    width:25%;
    background:#eee;
    border-right:1px solid #ccc;
    height:100%;
    overflow:auto;
    word-wrap:break-word;
}
#gauche ul li{
    min-height:35px;
    padding:5px 15px;
    font-size:12px;
    color:#a4a4a4;
    font-size:12px;
    list-style:none;
    border-bottom:1px solid #dcdcdc;
}
#gauche h2{
    padding:2px 0;
    font-size:14px;
    color:#222;
}
#gauche h2 a{
    text-decoration:none;
    color:#222;
}

#droite{
    width:75%;
    background:#fbfbfb;
    position:absolute;
    right:0;
    top:0;
    margin-top:37px;
    height:100%;
}
iframe{
    margin-bottom:-4px;
}
hr{
    margin:7px -10px;
    border:0;
    border-bottom:1px dashed #bbb;
}
article{
    word-wrap:break-word;
    padding:7px 10px;
    text-align:justify;
    font-size:12px;
}
h1{
    font-size:20px;
    
}
h2{
    padding:2px 0;
    font-size:14px;
    color:#222;
}
h1 a, h2 a{
    text-decoration:none;
    color:#222;
}
.xss{
    display:none;
}