body{
    margin: 0;
    padding: 0;
    background: #fafafa;  
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-size: 15px;
}
header{
    background: #222;
    height: 30px;
    box-shadow: 0 0 10px #888;
    color: #eee;
    text-align: center;
    line-height: 29px;
}
#cbox{
    font-size: 12px;
    height: 30px;
    color: #aaa;
    line-height: 30px;
}
#connect{
    width:225px;
    margin: 0 auto;
    text-align:center;
    margin-top:20px;
    background:#fefefe;
    border:1px solid #ddd;
}
input[type="checkbox"]{
    cursor:pointer;
}
input[type="text"],input[type="password"]{
    height: 20px;
    padding: 5px 10px;
    width:205px;
    margin: -1px 0 0 -1px;
    border: 1px solid #ddd;
}
input[type="text"]:focus,input[type="password"]:focus{
    border: 1px solid #9EC948;
}
input[type="submit"]{
    cursor:pointer;
    width:164px;    
    background: #95C141;
    font-size: 12px;
    border: 1px solid #789937;
    height: 25px;
    color: #fff;
    width: 100%;
    font-weight: bold;
}